body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: black url('../img/background1.jpg');
    background-size: cover;

    overflow-x: hidden;
}
.navbar {
    background: #333;
    padding: 15px;
    min-height: 40px;
    color: white;
}
h1 {
    margin: 0;
    text-align: center;
}
main {
    display: flex;
    padding: 10px;
}
video {
    border-radius: 5px;
}
.top-container {
    max-width: 500px;
}
.btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
}
.btn-dark {
    background-color: #333;
    color: #fff;
    border: 1px solid #667;
}
.btn-light {
    background-color: #f4f4f4;
    color: #333;
    border: 1px solid #ccc;
}
.select {
    height: 40px;
    width: 100%;
    border: 1px solid #667;
    margin-bottom: 10px;
    background: #333;
    color: #fff;
    padding: 3px;
}
.bottom-container {
    max-width: 60%;
    margin: auto;
    padding: 10px;
}
.photos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.photos img {
    width: 100%;
    margin: 5px;
    border-top: 5px solid #fff;
    border-right: 5px solid #fff;
    border-left: 5px solid #fff;
    border-bottom: 50px solid #fff;
    -webkit-box-shadow: -1px 3px 24px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 3px 24px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 3px 24px 0px rgba(0, 0, 0, 0.75);
}
#canvas {
    display: none;
}

@media only screen and (max-width: 600px) {
    main {
        padding: 5px;
        flex-direction: column;
    }
    .top-container {
        width: 100% !important;
    }
    video {
        width: 100%;
    }
    .bottom-container {
        width: 100% !important;
    }
    .photos {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
}
